<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Home</a><i class="fa fa-circle"></i>
	</li>
	<li class="active" data-ng-bind="$state.current.data.pageTitle">
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN FORM -->
		<div class="portlet box yellow" class="collapse" collapse="!cadastar">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa  fa-check-circle"></i>Cadastar Perfil
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div>
					<form name="formCadastrar" id="form-cadastrar" class="css-form" novalidate>
						<div class="form-group">
							<label>Nome : </label>
							<input type="text" name="nome" class="form-control" placeholder="Nome do perfil" ng-model="object_cadastro.nome" ng-minlength="3" ng-maxlength="200" required>
						</div>
					
						<div ng-show="formCadastrar.nome.$dirty && formCadastrar.$invalid" class="Metronic-alerts alert alert-danger display-hide fade in" style="display: block;">
							<button data-close="alert" class="close"></button>
							<ul style="list-style: none;">
					      		<li ng-show="formCadastrar.nome.$error.required">O campo "Nome" e obrigatório</li>
					      		<li ng-show="formCadastrar.nome.$error.minlength">O campo "Nome" precisa ter pelo menos 3 caracteres.</li>
					      		<li ng-show="formCadastrar.nome.$error.maxlength">O campo "Nome" precisa ter no maximo 200 caracteres.</li>
					      		<li ng-show="formCadastrar.ativo.$error.required">O campo "Ativo" precisa ser selecionado.</li>				      		
					      	</ul>
						</div>
						<button class="btn btn-circle blue" type="button" ng-click="salvar(object_cadastro)" ng-disabled="formCadastrar.$invalid">Cadastrar</button>
						<button class="btn btn-circle default" type="button" ng-click="cadastar = false; object_cadastro = null;">Cancelar</button>
					</form>
				</div>
			</div>
		</div>

		<!-- END SAMPLE form-->
		<!-- BEGIN LIST-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa  fa-institution"></i>Lista de Perfils Cadastradas
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<button class="btn btn-success" type="button" ng-click="cadastar = true">Cadastrar Novo Perfil</button>
				
				<div>
					<h2>Pesquisar Perfils</h2>
					<input type="text" class="form-control" placeholder="Busca de Diligências Pelo Nome" ng-model="busca">
				</div>
				<div id="mensagem-status" style="text-align: left; margin-top: 10px;" ></div>
				<div class="table-scrollable"  >
					<table class="table table-hover table-bordered"  ng-table="tableParams">
					<thead>
						<tr>
							<th>Cód </th>
							<th>Perfil</th>
							<th>Ações </th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="servico in $data | orderBy: '-id' | filter: busca">
							<td>
								 {{servico.id}}
							</td>
							<td>
								 {{servico.nome}}
							</td>
							<td>
								<button class="btn btn-primary" type="button" ng-click="alterar(servico)">Editar</button>
								<button class="btn btn-danger" type="button" ng-click="excluir(servico, servico.id)">Excluir</button>
							</td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END SAMPLE List-->
	</div>
</div>