/* Extra Small */
@media (max-width:768px){
	
	.navbar-brand {
		margin-left: 15px !important;	
	}
	
	#footer,
	#footer2 {
		text-align: center !important;	
	}
	
	#footer img {
		height: auto;
    	margin-left: auto;
    	margin-right: auto;
    	width: 135px;	
	}
}

/* Small */
@media(min-width:768px) and (max-width:991px){
	
	
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){

	
}

/* Large */
@media(min-width:1200px){
	
	
}